{% extends "base.html" %}
{% block content %}
    {% for prospect in not_following %}
        <img src={{ prospect.user_img_url }} alt="">
        <a href="/u/{{ prospect.username }}/"> {{ prospect.username }} </a>

    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/following/?target={{url_for('show_explore')}}" method="post" enctype="multipart/form-data">
      <input type="submit" name="follow" value="follow"/>
      <input type="hidden" name="username" value="{{prospect.username}}"/>
      <input type="hidden" name="operation" value="follow"/>
    </form>
    {% endfor %}
{% endblock %}
